@import '../../../styles.scss';
.container {
  display: grid;
  grid-row: 1fr;
  grid-column: 1fr;
  align-items: center;
  justify-content: center;
  font-weight: 200;
  border-radius: 5px;
  font-size: 1.2em;
  margin: 10px 0;
  padding: 20px 0;
  border: 2px solid mat-color($accent);
  background: mat-color($primary, A700);
  #loader {
    mat-spinner {
      margin: 0 auto;
    }
    .loading-text {
      text-align: center;
      margin-bottom: 0;
    }
  }
  h3,
  h3 {
    color: white;
  }
  button h2 {
    display: inline !important;
  }
}
